body {
    background-color: whitesmoke;
}

h1 {
    color: aqua;
    font-size: 54px;
}

/* En Kommentar */ 


p {
    font-style: initial;
}

.h1 {
    background-color:darkcyan;
    font-size: 54px;
}

#blue {
    color: blue;
    background-color: antiquewhite;
    text-align: center;
    width: auto;
    border: 10px solid black;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.bold {
    font-weight: bold;
}

.link {
    border-bottom: 2px;
    border-color: blue;
    background-color: white;
}

#border {
    border: 10px;
    border-color: aliceblue;    
}

#italic {
    font-style: italic;
}